# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.11, 3.12, 3.13]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v5        
    - name: Install dependencies
      run: |
        uv sync
    # - name: Lint with ruff
    #   run: |
    #     # stop the build if there are Python syntax errors or undefined names
    #     uv run ruff check .
    #     # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #     uv run ruff format .
    #     continue-on-error: true
    - name: Test with pytest
      run: |
        uv run pytest


